# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/dist
/dist-ssr
/build

# Misc
.DS_Store
*.pem

# Local env files
.env*.local

# Verity/Vercel
.vercel

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
